In [10]:
# import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime
import pandas as pd
import csv

import smtplib

In [46]:
# connect to website

URL = 'https://www.amazon.com/SQL-Intermediate-Programming-Practical-Exercises/dp/B0B5MM3RMK/ref=sr_1_1_sspa?keywords=sql+book&qid=1667744250&sr=8-1-spons&psc=1'

headers = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36', "Accept-Encoding": 'gzip, deflate, br', "Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9', "DNT": '1', "Connection": 'close', "Upgrade-Insecure-Requests": '1'} 

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

title = soup2.find(id = 'productTitle').get_text()

price = soup2.find(id = 'price').get_text()

print(title)
print(price)

            SQL: 3 books 1 - The Ultimate Beginner, Intermediate & Expert Guides To Master SQL Programming Quickly with Practical Exercises


                           $22.79

In [28]:
# clean unecessary whitespaces

In [48]:
price = price.strip()[1:]
title = title.strip()

print(price)
print(title)

22.79
SQL: 3 books 1 - The Ultimate Beginner, Intermediate & Expert Guides To Master SQL Programming Quickly with Practical Exercises

In [63]:
price = float(price)

In [64]:
type(price)

float

In [29]:
today = datetime.date.today()

print(today)

2022-11-06

In [67]:
# this can only be ran once!

header = ['Title', 'Price', 'Date']
data = [title, price, today]

#with open('WebScrapingUsingPython.csv', 'w', newline='', encoding = 'UTF8') as f:
        #writer = csv.writer(f)
        #writer.writerow(header)
        #writer.writerow(data)

In [31]:
df = pd.read_csv('WebScrapingUsingPython.csv')

In [34]:
df

                                                Title  Price        Date
0   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
1   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
2   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
3   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
4   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
5   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
6   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
7   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
8   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
9   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
10  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06

In [33]:
# append data to csv. We need to change 'w' to 'a+' and remove writer.writerow(header)

with open('WebScrapingUsingPython.csv', 'a+', newline='', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [88]:
def send_email():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('dominiktoczynski@gmail.com','password')
    
    subject = "Current book price below $15"
    body = 'text'
    
    msg = f"Subject: {subject}\n\n{Body}"
    
    server.sendemail(
        'dominiktoczynski@gmail.com',
        msg)

In [89]:

def check_price():
    URL = 'https://www.amazon.com/SQL-Intermediate-Programming-Practical-Exercises/dp/B0B5MM3RMK/ref=sr_1_1_sspa?keywords=sql+book&qid=1667744250&sr=8-1-spons&psc=1'

    headers = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36', "Accept-Encoding": 'gzip, deflate, br', "Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9', "DNT": '1', "Connection": 'close', "Upgrade-Insecure-Requests": '1'} 

    page = requests.get(URL, headers = headers)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

    title = soup2.find(id = 'productTitle').get_text()

    price = soup2.find(id = 'price').get_text()

    price = price.strip()[1:]
    title = title.strip()
    today = datetime.date.today()
    price = float(price)
    
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('WebScrapingUsingPython.csv', 'a+', newline='', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)
        
    if(price < 23):
        send_email()

In [ ]:
# if left open this code would update dataset everyday with current item price

while(True):
    check_price()
    time.sleep(5)

In [87]:
df = pd.read_csv('WebScrapingUsingPython.csv')

df

                                                Title  Price        Date
0   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
1   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
2   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
3   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
4   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
5   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
6   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
7   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
8   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
9   SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
10  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
11  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
12  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
13  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
14  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
15  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
16  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
17  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
18  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
19  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
20  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06
21  SQL: 3 books 1 - The Ultimate Beginner, Interm...  22.79  2022-11-06